* {
  font-family: "Platypi", serif;
}
.container {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.min-vh {
  min-height: 100vh;
}

.fs-regular {
  font-family: "Inter", serif !important;
}
/*a[href] {*/
/*    colo*/
/*}*/
.pt-300 {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.pt-500 {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.wall-bg {
  position: relative;
}

.wall--heading {
  padding-left: 100px;
  padding-top: 80px;
}

.btn-dark {
  background-color: #343a40;
  color: white;
  height: min-content;
}

.btn-dark:hover {
  background-color: #5e0797;
  color: white;
}

.alert {
  border: 1px solid #dc3545;
}

.card {
  border: 1px solid #dee2e6; /* Light border */
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
}

.cards {
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.animate__animated {
  animation-duration: 0.5s;
}

.btn-primary {
  background-color: #007bff; /* Bootstrap primary color */
}

.btn-success {
  background-color: #28a745; /* Bootstrap success color */
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbar {
  background-color: #a8d3ff;
  display: flex;
  justify-content: space-between;
}


.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  color: #5e0797; /* Change link color on hover */
}

.btn-outline-dark {
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-dark:hover {
  background-color: #5e0797; /* Change button background on hover */
  color: white; /* Change button text color on hover */
}
.container-fluid{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}